
//  ajustement du body   
body
    margin: 0
    width: 100%
    

// j'ai fait la barre de navigation
nav
    display: flex  // faire de sorte que ce soit positionner l'un a coté de l'autre
    justify-content: space-evenly // l'espacement du logo et des liens
    margin-top: 2em  // la marge du haut pour ajuster le posititonnement
    
    .molengeek
        h1
            font-size: 2.5em  // la taille du font du logo
            span
                color: #106EEA  // la couleur du site (code couleur)
    ul
        display:  flex //  mettre les liens l'un a coté de l'autre en ligne
        gap: 1.3em
        align-items: center
        height: 3.3em
        li
            list-style: none
            a
                text-decoration: none
                color: black
        




// header

